<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!--JS VUE Script-->
	<script src="https://unpkg.com/vue@3"></script>
	<!-- Axios -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js"></script>
	<!-- Bootstrap - Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<!--My CSS-->
	<link rel="stylesheet" href="style.css">
	<title>Borger siden</title>
</head>

<body>
	<div id="borger" class="container">
		<div class="row">
			<div class="col-4 p-1">
					<h2 class="display-4">Side om borger</h2>
					<hr>
				<blockquote class="blockquote">
					<p class="mb-0">Registreringer</p>
					</blockquote>
				<ul>
				<li>Tlf.nr: {{ hentBorgerData.tlf }}</li>
				<li>Navn: {{ hentBorgerData.navn }}</li>
				</ul>
						<!-- model med borger registreringer,
				der mange registreringer på hver borger v-for,
				og for pause, hentBorgerData.Array.ind - et step længere ind
				pause: hentBorgerData.Array.Array.ind
					     to v-for på en borger, nested array?-->
						 <div>
							<div v-for="regi in regiArray">
								<p>Ind registrering:  </p>
								<p>	{{ regi.ind }} </p>
								<br>
								<p>Ud registrering:  </p>

							    <p>{{ regi.ud }}</p>
								<br>
								<br>
								<blockquote class="blockquote">
								<p class="mb-0">Pauser</p>
								</blockquote>
							<div v-for="pause in regi.borgerPauser">
									<p>Start:</p>
									{{ pause.pauseStart}}
									<br>
									<p>Slut:</p>
									{{ pause.pauseSlut}}
								</div>
							</div>
							</div>
			</div>
		</div>

		<div class="row">
			<div class="col-4 p-1">
				<hr>
				<blockquote class="blockquote">
					<p class="mb-0">Opret en note</p>
				</blockquote>
				<input v-model="addNote.datoTid" type="date" class="date" aria-describedby="basic-addon1">
				<p style="white-space: pre-line;"></p>
				<textarea v-model="addNote.noteOmBorger" placeholder="indtast tekst..."></textarea>
				<br>
				<button v-on:click="opretNote(this.borgerID)"
				class="btn btn-outline-info" type="button">
					Opret
				</button>
				{{	addMessage  }}
				&nbsp; &nbsp;

			</div>
		</div>
			<hr>
			<blockquote class="blockquote">
			<p class="mb-0">Noter</p>
			</blockquote>
			<div class="row">
				<div v-for="noter in noteArray" class="col-sm-6">
				  <div class="card">
					<div class="card-body">
					  <h5 class="card-title">
						Note d. {{noter.datoTid}}
					  </h5>
					  <p class="card-text">
						{{noter.noteOmBorger}}
					</p>
					{{ noter }}
					<button v-on:click="sletNote(this.borgerID, this.noteID)"
					class="btn btn-outline-danger">Slet
				</button>
				{{	deleteMessage  }}

				</div>
				  </div>
				  {{	deleteMessage  }}

				</div>
			  </div>
	</div>
	</div>
	<script src="borger.js"></script>
</body>

</html>