
body{
		background-color: rgb(238, 233, 243);
}
a{
	cursor: grab;

}
img {
	opacity: 0.5;
  }
  h1, h2, h3 {
	text-shadow: 2px 2px #ffffff;
  }

.card{
	background-color: rgb(147, 127, 236);
}
li.list-group-item.baggrund{
	background-color: rgb(147, 127, 236);

}
.designBtn{
	border: none;
	background-color: rgb(215, 209, 243);
	cursor: grab;

}
/* validation logic */
.error {
    color: red;
    font-weight: bold;
  }
  .date {
    display: block;
    margin-bottom: 10px;
  }
  .btn {
    display: block;
    margin-top: 10px;
  }
  .baggrund{
	background-color: rgb(163, 144, 250);

  }
  .nyBaggrund{
	background-color: rgb(252, 251, 183);
  }
  /*HTML INPUT FIELD BIGGER*/
  .textboxChange
  {
	  height: 40px;
	  font-size:14pt;
  }
  textarea{
	width: 300px;

  }
